<div class="content">
<h1>〜テックキャンプで学んだこと〜</h1>
</div>
<div class="content">
<h1>なぜプログラミングを学ぶの？</h1>
<p> あなたが今働いている職業は２０年後もありますか？</p>
<p>私は８年以上、タクシードライバーとして勤めて参りました。想像してみてください。</p>
<p>２０年後にタクシードライバーの仕事はありますか？</p>
<p>恐らく自動運転などのテクノロジーの発展により、なくなっているでしょう。</p>
<p>そう考えてるとタクシードライバーとして日々の努力が虚しく感じます。</p>
<p>いつかなくなってしまう仕事を一生懸命する意味はなんでしょうか？</p>
<p>いつまでも、頑張っていい。いつまでも努力し続けて良い仕事、それがプログラマーという仕事です。</p>
<p></p>
<p>〜将来絶対なくならない仕事〜</p>
<p>政府によると、２０３０年に不足するプログラマーは最大７９万人を超える。
<a href="https://tech-camp.in/note/careerchange/93882/#203079IT" target="_blank"><span class="content-net">《TECH CAMPブログ》</span></a>
</p>
<p>更に、義務教育においてプログラミングが必須科目へ。
<a href="https://www.mext.go.jp/a_menu/shotou/zyouhou/detail/1375607.htm" target="_blank"><span class="content-net">《文部科学省》</span></a>
</p>
<p>今後のテクノロジーによる変化は急激に広がっていくことでしょう。</p>
<p>今から学び、新しい自分へ投資しませんか？私と一緒に学んでいきましょう。</p>
</div>
<div class="content">
    <h1>なぜTECH CAMPなの？</h1>
<h3><a href="https://tech-camp.in/"><span class="content-net">《TECH CAMP》</span></a></h3>
<p>①未経験でも挫折せず、テクノロジースキルが身につく</p>
<p>②いつでも講師に質問し放題で、疑問を解消出来る</p>
<p>③専属ライフコーチが学習を徹底サポート</p>
<p>④転職が決まるまでキャリアをマンツーマンでサポート</p>
<p>※エンジニア転職に成功しなかった場合は受講料を全額返金</p>
</div>
<div class="content">
<h1>〜実際にTECH CAMPで学んでみて〜</h1>
<p>もし独学だったらPCの環境構築の時点で挫折していたかもしれません。</p>
<p>必要なアプリケーションを導入するだけでエラーが発生してしまい、本当に困ってしまいました。</p>
<p>メンターという、いつでも質問出来る講師が</p>
<p>随時スタンバイしていて、困った時はいつでも助けてくれました。</p>
<p>プログラミングにおいて、学習とは新しい概念の体得と新たな用語の理解、</p>
<p>そしてコードをひたすら書いていくという地味な作業の連続で</p>
<p>わからないこととエラーとの戦いでした。</p>
<p>メンターさんがいなかったら絶対にここまで出来なかったでしょう。</p>
<p>しかし、エラーは永遠に出る。心折れそうな時に</p>
<p>ライフコーチという専属コーチがメンタルケアをしてくます。</p>
<p>励ましてくれる人がいなかったら最後まで学習を続けられたでしょうか。</p>
<p>また、キャリアアドバイザーが転職活動に寄り添い励ましてくれるから頑張れます。</p>
<p>未経験でここまで、努力してこれたのは間違いなく優秀なスタッフさんの支えのおかげです。</p>
<p>支えといえば、かけがえのない同期・仲間達に巡り会えたことも列挙したいです。</p>
<p>夢を語れば笑わられ、バカにされ信用を失ってきたけれど、ここには</p>
<p>同じような年齢の、同じような志と、同じように夢を持ち、同じように努力し自分に投資ができる</p>
<p>最高の仲間達が、一緒に笑い、励まし合い、助け合えた。この経験はプログラミングを学ぶ以上の価値がありました。</p>
<p>Special Thanks 94.team A </p>
</div>
<div class="contents row">
  <% @reports.each do |report| %>
    <div class="content_post" style="background-image: url(<%= report.image %>);">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_report_path(report.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', report_path(report.id), method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= report.title %></p>
      <span class="name">
        <%= report.report %>
      </span>
    </div>
    <% end %>
</div>
</div>